
body  {	
	background-color: #424E61;
	color: white;
    background-color: black;
	font-family: "Savate", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	margin: 0px;
}

.chamada-texto {
	margin-right: 5%;
}

h1 {
    font-size: 40px;
}

header {
	border: solid 2px rgb(42, 122, 228);
	padding: 20px; 
	font-size: 32px;
	color: rgb(42, 122, 228);
}

p {
    font-size: 20px;
}

section {
	background: rgb(184, 156, 213);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}





